#   Dependances
node_modules/
.pnp
.pnp.js

#   Environnement
.env
.env.local
.env.*.local

#   Docker secrets
secrets/

#   Build outputs
dist/
build/
.next/
out/
*.tmp
*.cache

#   Logs
logs/
*.log
npm-debug.log*

#   IDE
.vscode/
.idea/
*.swp

#   OS
.DS_Store
Thumbs.db

#   Coverage
coverage/